/*Bestsellery style*/
.bestsellery__wrapper {
    padding: 0 90px;
    border-bottom: 1px solid #ddd;
}

@media (max-width: 1199px) {
    .bestsellery__wrapper {
        padding: 12px 12px;
        display: flex;
        flex-direction: column;
    }
}

.bestellery__button {
    margin-right: 10px;
    font-size: 18px;
    line-height: 27px;
    color: #7D7474;
    border: none;
    cursor: pointer;
    background-color: transparent;
    padding: 10px 37px;
}

@media (max-width: 1199px) {
    .bestellery__button {
        font-size: 10px;
        line-height: 10px;
        padding: 5px 10px;
    }
}

.bestsellery__buttonWrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 30px 0px 40px 0px;
}

@media (max-width: 1199px) {
    .bestsellery__buttonWrapper {
        flex-direction: column;
        padding: 0 0 12px 0px;
    }

    .bestsellery__products {
        flex-direction: column;
        width: 100%;
    }
}

.bestellery__button:hover {
    color: #000;
}


.bestellery__button.active {
    border-radius: 30px;
    border: 1px solid #000;
    color: #000;
    background-color: #F8F8F8;
}



.bestsellery__title {
    font-size: 48px;
    line-height: 58px;
    color: rgb(33, 37, 41);
}

@media (max-width: 1199px) {
    .bestsellery__title {
        font-size: 16px;
    }
}



/*Slider style*/
.slider__best {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}


@media (max-width: 1199px) {
    .slider__best {
        display: none;
    }
}

.best__dot {
    width: 10px;
    height: 10px;
    background: #ccc;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: width 0.3s ease;
}

@media (max-width: 1199px) {
    .best__dot {
        width: 5px;
        height: 5px;
    }
}

.best__dot.active {
    width: 30px;
    background: #90ee90;
    border-radius: 10px;
}


@media (max-width: 1199px) {
    .best__dot.active {
        width: 20px;
    }
}