#scrollToTopButton {
    position: fixed;
    bottom: 150px;
    right: 100px;
    z-index: 1000;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.body-no-scroll {
    overflow: hidden;
    transition: overflow 0.3s;
}

@media (max-width: 1199px) {
    #scrollToTopButton img {
        display: none;
    }
}