.modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
}

.search__modal {
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 500px;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

.search__modal-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 16px;
}

.search__modal-footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10px;
    gap: 15px;
}


.search__modal-divider {
    border: none;
    height: 1px;
    background-color: #dcdcdc;
    margin: 35px 0px 10px -20px;
    width: calc(100% + 40px);
}


.search__modal-footer span {
    display: flex;
    align-items: center;
    color: #888B8D;
    font-size: 14px;
    line-height: 21px;
}

.icon__modal {
    text-align: center;
    justify-content: center;
    margin-right: 10px;
}