.footer {
    background-color: #000;
    color: #fff;
    padding: 50px 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.footer__section {
    display: flex;
    flex-direction: column;
    width: 30%;
    text-align: center;
}

.footer__title {
    font-size: 40px;
    line-height: 60px;
    font-weight: 400;
}

.newsletter__input-group {
    display: flex;
}

.newsletter__input {
    color: #fff;
    background-color: #000;
    border: none;
    border-bottom: 3px solid #fff;
    outline: none;
    font-size: 20px;
}

.newsletter__button {
    align-items: center;
    background-color: #000;
    background-image: url(../../assets//arrowfooter.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    color: #fff;
    display: flex;
    font-size: 45px;
    height: 50px;
    justify-content: center;
    transition: .2s ease-out;
    width: 53px;
    outline: none;
    border: none;
    cursor: pointer;
}

.newsletter__input-group input {
    flex: 1;
    padding: 0.5rem;
    margin-right: 0.5rem;
}

.footer__link {
    width: 100%;
    display: flex;
    justify-content: flex-start;

}

.link__column {
    margin-top: 100px;
    width: 500px;
}

.link__column li {
    padding: 20px 0px;
    font-size: 26px;
}

.link__column span {
    color: #636563;
}

.link__column p {
    font-size: 26px;
    padding: 20px 0px;
}

.footer__button {
    background-color: #000;
    color: #fff;
    font-size: 26px;
    padding: 9.5px 20px;
    cursor: pointer;
    border-radius: 50px;
    border-color: #fff;
}

.footer__email,
.footer__phone {
    display: flex;
    align-items: center;
    margin: 0 7px;

}

.footer__phone--contact,
.footer__email--contact {
    padding: 0 5px;
    font-size: 26px;
}

.footer__email--contact.revealed,
.footer__phone--contact.revealed {
    text-decoration: underline;
    color: #2395D6;
    cursor: pointer;
    font-size: 26px;
}

.link__info {
    border-top: 1px solid #ddd;
    padding: 50px 0px;
}

.link__info a {
    font-size: 26px;
}

.footer__end {
    border-top: 1px solid #ddd;
    padding-top: 30px;
    display: flex;
    align-items: center;
}

.footer__logo {
    width: 200px;
    padding-right: 30px;
}

.footer__end-text {
    color: #8E8C8E;
    font-size: 14px;
}