.hamburger {
    display: none;
    padding: 40px 0px 10px 0px;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: #fff;
    position: fixed;

}

.hamburger span {
    display: block;
    height: 3px;
    background: black;
}

@media (max-width: 1199px) {
    .hamburger {
        display: flex;
    }

    .hamburger__logo {
        width: 100px;
        margin-left: -40px;
    }

    .hamburger__icon {
        width: 20px;
    }
}