.category__wrapper {
    padding: 20px 0px 40px 90px;
    border-bottom: 1px solid #EEEEEE;
}

@media (max-width: 1199px) {
    .category__wrapper {
        display: flex;
        padding: 0 12px;
    }
}

.category__title {
    font-size: 48px;
    line-height: 58px;
    color: rgb(33, 37, 41);
}

@media (max-width: 1199px) {
    .category__title {
        font-size: 16px;
    }
}

@media (max-width: 1199px) {
    .category__img {
        margin-left: -20px;
        width: 30px;
    }
}

.category__slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}


@media (max-width: 1199px) {
    .category__wrapper {
        display: block;
        flex-wrap: wrap;
    }
}


.slider__nav {
    display: flex;
    justify-content: center;
}

.nav__dot {
    width: 10px;
    height: 10px;
    background: #ccc;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: width 0.3s ease;
}

@media (max-width: 1199px) {
    .nav__dot {
        width: 5px;
        height: 5px;
    }
}

.nav__dot.active {
    width: 30px;
    background: #90ee90;
    border-radius: 10px;
}

@media (max-width: 1199px) {
    .nav__dot.active {
        width: 20px;
    }
}