/*Product style*/
.product__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    overflow: hidden;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 12px #ddd;
    border-radius: 10px;
    width: 320px;
    height: 500px;
    margin: 0 auto;
    cursor: pointer;
}

.product__tag {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.product__title {
    border: 1px solid #fff;
    background-color: #90D500;
    border-radius: 20px;
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    padding: 0 2px;
}

.product__image {
    max-height: 150px;
    max-width: 50%;
    padding: 10px;
}

.productImage__title {
    color: #212529;
    margin-bottom: 8px;
    overflow: hidden;
    white-space: wrap;
    padding: 0 30px;
    line-height: 24px;
    text-align: left;
    width: 100%;
}

.product__symbol {
    color: #B2B2B2;
    width: 100%;
    padding: 0 30px;
    text-align: left;
    margin-top: -40px;
}

.product__price-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: -30px;
    text-align: right;
}

.price__label {
    color: #000;
    margin-right: 8px;
    font-weight: bold;
}

.product__price {
    font-weight: bold;
    color: #000;
    margin-right: 8px;
    font-size: 28px;
}

.product__price-netto {
    color: #666;
    margin-right: 8px;
}